<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="main_container">
      <div class="card">
        <div class="title">
          <h1>Mark Chesney</h1>
        </div>
      </div>
      <div class="card">
        <div class="photo">
          Image
        </div>
      </div>
      <div class="card">
        <div class="description">
          I sell solar
        </div>
      </div>
      <div class="card">
        <div class="experience">
          Past work
        </div>
      </div>
      <div class="card">
        <div class="solar-description">
          Solar description
        </div>
      </div>
      <div class="card">
        <div class="contact-information">
          Phone number
        </div>
      </div>
    </div>
  </body>
</html>
