<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="main_container">
      <div class="title">
        <h1>Mark Chesney</h1>
        <div class="profile-picture"><h1>Pfp</h1></div>
      </div>
      <div class="card">
        <div class="blurb">
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
          ultricies eget, tempor sit amet, ante. Donec eu libero sit amet
          quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat
          eleifend leo.
        </div>
      </div>
      <div class="past-work-cards">
        <div class="renewable-energy-card">
          <div class="renewable-energy-images">
            <img src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1685135255/Renewable_sources_m9x6jd.jpg" alt="Image" id="renewable-energy-photo-1">
          </div>
          <p></p>
          <a href="https://en.wikipedia.org/wiki/Renewable_energy" target="_blank">
            <div class="renewable-energy-text">
              Renewable energy For some years now I have worked in a hybrid of both the construction and finance
              industry. Recently like everyone I have taken an interest in the environment around us and the
              problem of global warming, looking at ways in which my industry experiences can be directed
              towards these problems in a positive way. I have been working with some of the best companies
              in the UK applying the skills gained over many years so that I can advise on the finance supply
              and install of the latest renewable energy technologies, helping people and companies to live
              and work smarter.
            </div>
          </a>
        </div>
        <div class="go-motor-finance-card">
          <div class="go-motor-finance-images">
            <img src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427438/IMG_3198_ifekxj.jpg" alt="Image" id="go-motor-finance-photo-1">
          </div>
          <p></p>
          <a href="https://en.wikipedia.org/wiki/Renewable_energy" target="_blank">
            <div class="go-motor-finance-text">
              Go Motor Finance.I am one of the founding partners of Go Motor Finance, a company set up to help
              financially disadvantaged consumers obtain credit to purchase a car - a necessity of modern life.
              Unlike traditional credit channels, we look at the person and what they can achieve, helping
              them to move forward in their life.
            </div>
          </a>
        </div>
        <div class="royal-hospital-card">
          <div class="royal-hospital-images">
            <img src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1685135252/Royal-Chelsea_bwpidf.png" alt="Image" id="royal-hosptial-photo-1">
            <img src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1685135243/figure-court-at-the-royal_tzn6cb.jpg" alt="Image" id="royal-hosptial-photo-2">
            <img src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1685137311/royalhospitalchelsea_garden_h0to5f.jpg" alt="Image" id="royal-hosptial-photo-3">
          </div>
          <p></p>
          <a href="https://en.wikipedia.org/wiki/Renewable_energy" target="_blank">
            <div class="royal-hospital-text">
              Royal Hospital Chelsea Infirmary Of all the projects I am proud of in my life, being part of the
              team that designed, built and furnished the Royal Hospital Chelsea Infirmary is dearest to my
              heart. Ex service men and now women can live out their lives in beautiful surroundings in safety
              with security and friendship knowing they are part of a wonderful community that welcomes them
              where ever they go.
            </div>
          </a>
        </div>
        <div class="air-ambulance-card">
          <div class="air-ambulance-images">
            <img src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1685135247/air_ambulance_irtcqo.png" alt="Image" id="air-ambulance-photo-1">
            <img src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427803/IMG_2367_bkby8s.jpg" alt="Image" id="air-ambulance-photo-2">
          </div>
          <p></p>
          <a href="https://en.wikipedia.org/wiki/Renewable_energy" target="_blank">
            <div class="housing-text">
              Essex and Herts Air AmbulanceWorking with EAHAA was a privilege and an honour, being alongside some of
              the best people you will ever meet. Raising funds to help meet the annual £9 million pounds per year
              that it costs to keep pilots, doctors andparamedics in the air, saving hundreds of lives from Felixtowe
              in the East to Luton in the West was a fantastic and rewarding experience.
            </div>
          </a>
        </div>

        <div class="wrapper">
          <nav class="lil-nav">
            <a href="#image-1">
              <img class="lil-nav__img" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427433/IMG_3322_z4cxzn.jpg" alt="house-1" />
            </a>
            <a href="#image-2">
              <img class="lil-nav__img" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427449/IMG_3077_tbn0iz.jpg" alt="house-2" />
            </a>
            <a href="#image-3">
              <img class="lil-nav__img" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427444/IMG_3081_f87djl.jpg" alt="house-3" />
            </a>
            <a href="#image-4">
              <img class="lil-nav__img" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427440/IMG_3321_p50yvd.jpg" alt="house-4" />
            </a>
            <a href="#image-5">
              <img class="lil-nav__img" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427438/IMG_3198_ifekxj.jpg" alt="house-5" />
            </a>
          </nav>
          <div class="gallery">
            <img class="gallery__img" id="image-1" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427433/IMG_3322_z4cxzn.jpg" alt="house-img-1"/>
            <img class="gallery__img" id="image-2" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427449/IMG_3077_tbn0iz.jpg" alt="house-img-2"/>
            <img class="gallery__img" id="image-3" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427444/IMG_3081_f87djl.jpg" alt="house-img-3"/>
            <img class="gallery__img" id="image-4" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427440/IMG_3321_p50yvd.jpg" alt="house-img-4"/>
            <img class="gallery__img" id="image-5" src="https://res.cloudinary.com/dxfjzvxxc/image/upload/v1684427438/IMG_3198_ifekxj.jpg" alt="house-img-5"/>
          </div>
        </div>
        <p></p>
        <div class="housing-card">
          <a href="https://en.wikipedia.org/wiki/Renewable_energy" target="_blank">
            <div class="housing-text">
              Bushy housing When a client asked me to demolish his factory and build him four three storey houses,
              we decided to embrace new o+-site construction processes. So and so terrace was completed  in 2018,
              following the demolition of a joinery factory in Bushey High road and the pre site construction of
              the houses. Delivered, installed and made waterproof in less than 6 days I remain proud of this project.
            </div>
          </a>
        </div>
      </div>
      <div class="contact-informartion-card">
        <div class="contact-information">
          <p><a href="tel:07793747817">Phone Number: +44 7793 747817</a></p>
          <p><a href="mailto:markpchesney@yahoo.co.uk">Email: markpchesney@yahoo.co.uk</a></p>
          <p><a href="https://www.instagram.com/" target="_blank">Instagram</a></p>
          <p id="linkedin"><a href="https://www.linkedin.com/in/markpchesney/" target="_blank">LinkedIn</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
