.card {
  background-color: rgba(0,0,0,0.0);
  /* height: 400px;
  width: 317px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.0);
  display: flex;
  align-items: left;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  padding: 20px;
  margin: 25px;
  border: 1px solid black;
  transition: 0.35s;
}

.past-work-cards {
  background-color: rgba(0,0,0,0.0);
  /* height: 400px;
  width: 317px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.0);
  /* display: flex; */
  align-items: left;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  padding: 20px;
  margin: 25px;
  border: 1px solid black;
  transition: 0.35s;
}

.contact-informartion-card {
  background-color: rgba(211,211,211,1);
  width: 100%;
  display: flex;
  align-items: left;
  font-size: 22px;
  color: black;
  padding: 20px;
  transition: 0.35s;
}
