.card {
  background-color: rgba(0,0,0,0.0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: left;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  padding: 20px;
  margin: 25px;
  transition: 0.35s;
}

.past-work-cards {
  width: 90%;
  background-color: rgba(0,0,0,0.0);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.35s;
}

.contact-informartion-card {
  background-color: rgba(211,211,211,1);
  width: 100%;
  display: flex;
  align-items: left;
  font-size: 22px;
  color: black;
  padding: 20px;
  transition: 0.35s;
}

.renewable-energy-card {
  width: 40%;
  margin-right: 40%;
  transition: 0.35s;
}

.renewable-energy-card-text {
  transition: 0.35s;
}

.renewable-energy-card-text:hover{
  transition: 0.35s;
  text-shadow: 0 0 10px rgba(0,0,0,1);
}

.go-motor-finance-card {
  transition: 0.35s;
  width: 40%;
  margin-left: 40%;
}
.go-motor-finance-card:hover {
  transition: 0.35s;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  background-color: rgba(0,0,0,1);
  color: white;
}

.royal-hospital-card {
  transition: 0.35s;
  width: 40%;
  margin-right: 40%;
}

.royal-hospital-card:hover {
  transition: 0.35s;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  background-color: rgba(0,0,0,1);
  color: white;
}

.housing-card {
  transition: 0.35s;
  width: 40%;
  margin-left: 40%;
  position: relative;
}
.housing-card:hover {
  transition: 0.35s;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  background-color: rgba(0,0,0,1);
  color: white;
}

.housing-card > * {
  position: absolute;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.top {
  top: 0px;
}

.bottom {
  bottom: 0px;
}

#top-left-building-image {
  border-radius: 50%;
}
#top-right-building-image{
  border-radius: 50%;
}
#bottom-left-building-image{
  border-radius: 50%;
}
#bottom-right-building-image{
  border-radius: 50%;
}
#top-middle-building-image{
  border-radius: 50%;
}

.air-ambulance-card {
  transition: 0.35s;
  width: 40%;
  margin-right: 40%;
}

.air-ambulance-card:hover {
  transition: 0.35s;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  background-color: rgba(0,0,0,1);
  color: white;
}
