.card {
  background-color: rgba(0,0,0,0.0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: left;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  padding: 20px;
  margin: 25px;
  transition: 0.35s;
}

.past-work-cards {
  width: 80%;
  background-color: rgba(173,201,69,0.6);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.35s;
}

.contact-informartion-card {
  background-color: rgba(211,211,211,0.5);
  width: 100%;
  display: flex;
  align-items: left;
  font-size: 22px;
  color: black;
  padding: 20px;
  transition: 0.35s;
  margin-top: 100px;
}

.renewable-energy-card {
  width: 100%;
  transition: 0.35s;
  margin-top: 50px;
}

.renewable-energy-card-text {
  transition: 0.35s;
}

.go-motor-finance-card {
  transition: 0.35s;
  width: 100%;
  margin-top: 100px;
}

.royal-hospital-card {
  transition: 0.35s;
  width: 100%;
  margin-top: 100px;
}

.air-ambulance-card {
  transition: 0.35s;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.housing-card {
  transition: 0.35s;
  width: 100%;
}

.renewable-energy-text:hover{
  transition: 0.35s;
  text-shadow: 0 0 10px rgba(0,0,0,1);
}

.go-motor-finance-text:hover {
  transition: 0.35s;
  text-shadow: 0 0 10px rgba(0,0,0,1);
}

.royal-hospital-text:hover {
  transition: 0.35s;
  text-shadow: 0 0 10px rgba(0,0,0,1);
}
.housing-text:hover {
  transition: 0.35s;
  text-shadow: 0 0 10px rgba(0,0,0,1);
}
.air-ambulance-text:hover {
  transition: 0.35s;
  text-shadow: 0 0 10px rgba(0,0,0,1);
}

.carousel-item {
  width: 300px;
  height: 300px;
}
