#renewable-energy-photo-1 {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

#go-motor-finance-photo-1 {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

#royal-hosptial-photo-1 {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

#housing-photo-1 {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

#air-ambulance-photo-1 {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}
