html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  align-items: center;
}

.main-container {
  margin: 0px;
}

h1 {
  font-size: 75px;
}


#rectangle1 {
  width: 200px;
  height: 100px;
  background:  #DAD1C6;
}
#rectangle2 {
  width: 200px;
  height: 100px;
  background: #34A56F;
}
#rectangle3 {
  width: 200px;
  height: 100px;
  background: #FFE87C;
}
#rectangle4 {
  width: 200px;
  height: 100px;
  background:  #ADC945;
}

#rectangle5 {
  width: 200px;
  height: 100px;
  background:  #60BC60;
}
