<div class="main_container">
  <div class="title">Mark Chesney</div>
  <div class="photo">Image</div>
  <div class="description">I sell solar</div>
  <div class="experience">Past work</div>
  <div class="solar-description">Solar description</div>
  <div class="contact-information">Phone number</div>
</div>
